<body>
<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>INICIO DE SESIÓN</mat-card-title>
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Ej. usuario@ejemplo.com" autocomplete="email" required>
        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
          <span *ngIf="loginForm.controls.email.errors.required">Se requiere correo.</span>
          <span *ngIf="loginForm.controls.email.errors.email">La dirección de correo electrónico debe ser válida.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password" autocomplete="password" required minlength="4">
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors.required">Se requiere contraseña.</span>
          <span *ngIf="loginForm.controls.password.errors.minlength">La contraseña debe contener 6 caracteres.</span>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      &nbsp; &nbsp; &nbsp; &nbsp;<button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </mat-card-actions>
  </form>

</mat-card>
</body>



